@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  padding: 0;

}



/* Header */

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

/* Navigation */

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px 0 229px;
  align-items: center;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
  width: 140px;
  height: 70px;
  margin-right: 30px;
  z-index: 1;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  margin: 0 34px;
  position: relative;
}

.navigation-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.navigation-link.is-current::before {
  background-color: #756157;
}

.navigation-link:nth-child(1) {
  margin-left: 0;

}

.navigation-list {
  margin: 0 30px;
  padding: 0;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-user-link {
  text-decoration: none;
  position: relative;
  margin-right: 20px;
}

.navigation-user-link:nth-child(2) {
  margin-right: 23px;
}

.navigation-user-like::after {
  content: "";
  position: absolute;
  background-image: url('../images/user-like.svg');
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  left: 12px;
  bottom: 10px;

}

.navigation-user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f2f2f2;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 15px 8px 15px;
  margin: 14px 0;
  border-radius: 4px;
  width: 160px;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-button:focus {
  background-color: #615048;
}

.navigation-user-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}


/* Intro */

.main-container {
  flex-grow: 1;
}

.logo {
  display: block;
  margin: 0 auto;
}

.intro {
  min-height: 485px;
  background-image: url('../images/index-background.jpg');
  color: #000000;
  background-color: #82B3D3;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  height: 485px;
  background-image: url('../images/triangle.svg');
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
}

/*Advantage list intro*/

.advantages {
  text-align: center;
  padding-top: 63px;
}

.advantages-title {
  max-width: 654px;
  margin: 0 auto 31px auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  max-width: 664px;
  margin: 0 auto 90px auto;
}

/*Advantage list*/

.advantage-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.advantage-icon {
  margin-bottom: 30px;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advantage-description {
  margin: 0;
}

.advantage-item {
  width: 33.333%;
  padding: 182px 85px 81px 85px;
  position: relative;
}

.advantage-house::before {
  content: "";
  position: absolute;
  background-image: url('../images/recommendation-house.svg');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: 80px;
  left: 164px;
}

.advantage-food::before {
  content: "";
  position: absolute;
  background-image: url('../images/recommendation-food.svg');
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  top: 80px;
  left: 164px;
}

.advantage-souvenirs::before {
  content: "";
  position: absolute;
  background-image: url('../images/recommendation-souvenirs.svg');
  background-repeat: no-repeat;
  width: 74px;
  height: 76px;
  top: 80px;
  left: 167px;
}

.advantage-list-modify .advantage-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-list-modify .advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list .advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list-modify .advantage-item {
  padding: 103px 85px 102px 85px;
}


/*Advantage card*/

.advantage-card {
  color: #ffffff;
  display: flex;
}

.advantage-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.advantage-card-content {
  background-color: #82B3D3;
  width: 400px;
  padding: 92px 85px;
}

.advantage-card .advantage-title {
  color: #ffffff;
}

.advantage-description-modify {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
}

.advantage-number {
  display: block;
  margin: 0 0 30px 0;
}

/*Hotel search*/

.hotels-search {
  text-align: center;
  background-color: #ffffff;
  padding: 90px 304px;
}

.hotels-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px 0;
}

.hotels-search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px 0;
}

.hotels-search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  padding: 12px 15px;
  display: flex;
  width: 574px;
  margin: 0 auto;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-search-link:hover {
  background-color: #615048;
}

.hotels-search-link:focus {
  background-color: #615048;
}

.hotels-search-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-search-link:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

/*Subscribe*/

.newsletter {
  background-image: url('../images/background-subscribe.jpg');
  height: 411px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  background-size: cover;
  padding: 94px 200px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.newsletter-info {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
}

.newsletter-form .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  border: none;
}

.newsletter-form .button:hover {
  background-color: #68a2ca;
}

.newsletter-form .button:focus {
  background-color: #68a2ca;
}

.newsletter-form .button:active {
  background-color: #82b3d3;
  color: #ffffff;
}

.newsletter-form .button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-form {
  font-family: inherit;
}

/*Page footer*/

.page-footer {
  display: flex;
  padding: 45px 70px 35px 70px;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 152px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}


.footer-social-link {
  width: 47px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  color: #82b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}


.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  width: 820px;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  color: #000000;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link:focus {
  color: #756157;
}

.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Catalog */

/* Header inner */

.inner-header-wrapper {
  color: #ffffff;
  background: #82B3D3;
  background-image: url('../images/background-catalog.jpg');
  background-size: cover;
  padding: 35px 70px 95px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px 0;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-left: 10px;

}

.breadcrumbs-link {
  width: 12px;
  height: 12px;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog filter*/

.catalog-filter {
  display: flex;
  margin: 0 auto;
  align-items: center;

}

.catalog-filter-group {
  border: none;
  margin: 0 70px 0 0;
  padding: 0;
  min-width: 150px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.catalog-filter-list {
  margin: 0;
  list-style: none;
  padding: inherit;
}

.catalog-filter-price {
  border: none;
  padding: 0;
  margin: 0 70px 0 175px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accept-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  padding: 14px 15px;
  border-radius: 4px;
  border: none;
  width: 160px;
}

.accept-button:hover {
  background-color: #68a2ca;
}

.accept-button:focus {
  background-color: #68a2ca;
}

.accept-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.accept-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  padding: 20px 0 0 0;
  border-radius: 4px;
  border: none;
  min-width: 160px;
  background: rgba(0, 0, 0, 0);

}

/* Search results */

.search-result {
  padding: 57px 72px 25px 72px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-right: 191px;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  min-width: 290px;
  height: 49px;
  margin-right: 68px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 18px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: auto;

}

.sorting-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  padding: 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-item:nth-child(3n) {
  margin-right: 0;
}

.sorting-item:hover {
  border: 2px solid #000000;

}

.sorting-item:focus {
  border: 2px solid #68a2ca;

}

.sorting-item:active {
  border: 2px solid #000000;

}

.sorting-button {
  padding: 10px;
}

/* Hotels list */

.hotel-card-list {
  display: grid;
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0 0 66px 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 18px;
  border-bottom: 1px solid #E6E6E6;
}

/* Hotel card */

.hotel-card-item {
  padding: 20px;
}

.hotel-card-image {
  margin: 0 0 10px 0;
}

.hotel-card-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 16px 0;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 16px 20px;
}

/* Info button */

.hotel-card-price+.hotel-card-info-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  text-align: center;
}


.hotel-card-info-button:hover {
  background-color: #615048;
}

.hotel-card-info-button:focus {
  background-color: #615048;
}

.hotel-card-info-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-info-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Like button */

.hotel-card-info-button+.hotel-card-like-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-card-like-button:hover {
  background-color: #68a2ca;
}

.hotel-card-like-button:focus {
  background-color: #68a2ca;
}

.hotel-card-like-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-like-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Favorite button */

.hotel-card-info-button+.hotel-card-fave-button {
  background-color: #7db54f;
}

.hotel-card-fave-button:hover {
  background-color: #6c9e42;
}

.hotel-card-fave-button:focus {
  background-color: #6c9e42;
}

.hotel-card-fave-button:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-fave-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  text-transform: uppercase;
}

.stars {
  background-image: url('../images/star.svg');
  background-repeat: space;
  height: 17px;
  align-self: center;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 43px;
}

/* Pagination */

.pagination-container {
  display: flex;
  align-items: baseline;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 660px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-current:focus {
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-current:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-item:focus {
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-item:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.display-total-container {
  margin-left: auto;
}

.display-total {
  margin: 0 47px 0 0;
}

.display-select-control {
  width: 160px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 21px;
}

/* Subscrice inner */

.newsletter-inner {
  text-align: center;
  background-color: #ffffff;
  padding: 84px 200px 94px 200px;
}

.newsletter-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.newsletter-title-inner {
  margin: 0 0 29px 0;

}

.newsletter-info-inner {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}

.newsletter-form-inner {
  display: grid;
  grid-template-columns: 600px 200px;
}

.newsletter-input {
  font-size: 18px;
  line-height: 21px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.newsletter-form-inner .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  border: none;
}

.newsletter-form-inner .button:hover {
  background-color: #68a2ca;
}

.newsletter-form-inner .button:focus {
  background-color: #68a2ca;
}

.newsletter-form-inner .button:active {
  background-color: #82b3d3;
  color: #ffffff;
}

.newsletter-form-inner .button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}