@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  padding: 0;
}

/* Header */

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

/* Navigation */

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px 0 228px;
  align-items: center;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
  width: 140px;
  height: 70px;
  margin-right: 30px;
  z-index: 1;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  margin: 0 34px;
  position: relative;
}

.navigation-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.navigation-link.is-current::before {
  background-color: #756157;
}

.navigation-link:nth-child(1) {
  margin-left: 0;
}

.navigation-list {
  margin: 0 29px;
  padding: 0;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-user-link {
  text-decoration: none;
  position: relative;
  margin-right: 19px;
}

.navigation-user-link:nth-child(2) {
  margin-right: 26px;
}

.navigation-user-like::after {
  content: '';
  position: absolute;
  background-image: url('../images/user-like.svg');
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  left: 12px;
  bottom: 10px;
}

.navigation-user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f2f2f2;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 15px 8px 15px;
  margin: 14px 0;
  border-radius: 4px;
  width: 160px;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-user-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Intro */

.main-container {
  flex-grow: 1;
}

.logo {
  display: block;
  margin: 0 auto;
}

.intro {
  min-height: 485px;
  background-image: url('../images/index-background.jpg');
  color: #000000;
  background-color: #82b3d3;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.intro::before {
  content: '';
  position: absolute;
  height: 485px;
  background-image: url('../images/triangle.svg');
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
}

/*Advantage list intro*/

.advantages {
  text-align: center;
  padding-top: 63px;
}

.advantages-title {
  max-width: 654px;
  margin: 0 auto 31px auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  max-width: 664px;
  margin: 0 auto 90px auto;
}

/*Advantage list*/

.advantage-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.advantage-icon {
  margin-bottom: 30px;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advantage-description {
  margin: 0;
}

.advantage-item {
  width: 33.333%;
  padding: 182px 85px 81px 85px;
  position: relative;
}

.advantage-house::before {
  content: '';
  position: absolute;
  background-image: url('../images/recommendation-house.svg');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.advantage-food::before {
  content: '';
  position: absolute;
  background-image: url('../images/recommendation-food.svg');
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.advantage-souvenirs::before {
  content: '';
  position: absolute;
  background-image: url('../images/recommendation-souvenirs.svg');
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.advantage-list-modify .advantage-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-list-modify .advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list .advantage-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list-modify .advantage-item {
  padding: 103px 85px 102px 85px;
}

/*Advantage card*/

.advantage-card {
  color: #ffffff;
  display: flex;
}

.advantage-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.advantage-card-content {
  background-color: #82b3d3;
  width: 400px;
  padding: 92px 85px;
}

.advantage-card .advantage-title {
  color: #ffffff;
}

.advantage-description-modify {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
}

.advantage-number {
  display: block;
  margin: 0 0 30px 0;
}

/*Hotel search*/

.hotels-search {
  text-align: center;
  background-color: #ffffff;
  padding: 90px 304px;
}

.hotels-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px 0;
}

.hotels-search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px 0;
}

.hotels-search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  padding: 12px 15px;
  display: flex;
  width: 574px;
  margin: 0 auto;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-search-link:hover {
  background-color: #615048;
}

.hotels-search-link:focus {
  background-color: #615048;
  outline: none;
}

.hotels-search-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-search-link:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

/*Subscribe*/

.newsletter {
  background-image: url('../images/background-subscribe.jpg');
  height: 411px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  background-size: cover;
  padding: 94px 200px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}

.newsletter-info {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
}

.newsletter-form .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

.newsletter-form .button:hover {
  background-color: #68a2ca;
}

.newsletter-form .button:focus {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-form .button:active {
  background-color: #82b3d3;
  color: #ffffff;
}

.newsletter-form .button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-form {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

/*Page footer*/

.page-footer {
  display: flex;
  padding: 45px 70px 35px 70px;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 350px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  width: 47px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  color: #82b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  color: #68a2ca;
  outline: none;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 730px;
  margin-left: 106px;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
  outline: none;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  color: #000000;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link:focus {
  color: #756157;
  outline: none;
}

.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container.is-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 715px;
}

/* Modal close button */

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px #83b3d3;
}

.modal-close-button:active {
  color: #e6e6e6;
  opacity: 0.3;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}


.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 63px 0;
}

/* Modal group */

.modal-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  align-items: baseline;
}

.modal-group.is-invalid .invalid-info {
  display: block;
}

.modal-group.is-valid .valid-info {
  display: block;
}

.arrival-label,
.departure-label,
.field-label {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}


.date-field {
  padding: 15px 240px 14px 19px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 420px;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.date-field:hover {
  background-color: #e6e6e6;
}

.date-field:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.date-field:active {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 2px #000000;
  outline: none;
}

.date-field::placeholder,
.people-field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.date-button {
  position: absolute;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url('../images/date.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: 19px;
  top: 18px;
  cursor: pointer;
  opacity: 0.3;
}

/* Invalid/valid info */

.invalid-info,
.valid-info {
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  bottom: -30px;
  left: 155px;
}

.invalid-info {
  color: #ff5757;
}

.valid-info {
  color: #000000;
}

/* Modal group two */

.modal-group-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 40px 0;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.input-wrapper {
  display: flex;
  position: relative;
}

.people-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 14px 35px;
  width: 133px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-align: center;
}

.people-field:hover {
  background-color: #e6e6e6;
}

.people-field:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.people-field:active {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 2px #000000;
  outline: none;
}

/* Button minus/plus */

.button-plus,
.button-minus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

.button-plus::before,
.button-minus:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  opacity: 0.3;
}

.button-plus {
  right: 10px;
}

.button-plus::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  opacity: 0.3;
}

.button-minus {
  left: 10px;
}

.button-plus:hover:before,
.button-plus:hover::after,
.button-minus:hover:before {
  opacity: 1;
}

.button-plus:focus:before,
.button-plus:focus::after,
.button-minus:focus:before {
  opacity: 1;
}

.button-plus:focus,
.button-minus:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-plus:active:before,
.button-plus:active::after,
.button-minus:active:before {
  opacity: 0.2;
}

.button-plus:active,
.button-minus:active {
  box-shadow: none;
}

.field-label-two {
  margin-right: 32px;
}

.field-label-three {
  margin-left: 56px;
}

/* Tooltip */

.tooltip {
  position: absolute;
  margin-top: 2px;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 110px;
  transform: translateY(-50%);
  z-index: 1;
}

.tooltip-toggle {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #82b3d3;
  background-image: url('../images/modal-info.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 256px;
  min-height: 143px;
  padding: 15px 18px 18px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: -17px;
  left: 65%;
  transform: translate(-50%, 100%);
  z-index: 1;
  display: none;
}

.tooltip-text:hover {
  display: block;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url('../images/tooltip-triangle.svg');
  width: 19px;
  height: 9px;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

/* Searh-button */

.form-button {
  width: 575px;
  padding: 12px 26px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #82b3d3;
  cursor: pointer;
}

/* Catalog */

/* Header inner */

.inner-header-wrapper {
  color: #ffffff;
  background: #82b3d3;
  background-image: url('../images/background-catalog.jpg');
  background-size: cover;
  padding: 35px 70px 69px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px 0;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  width: 12px;
  height: 12px;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog filter*/

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0 68px 0 0;
  padding: 0;
}

.catalog-filter-group+.catalog-filter-group {
  margin: 0 177px 0 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

/* Control */

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

/* Mark checked */

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type='checkbox']:checked+.control-mark::before,
.control-input[type='checkbox']:checked+.control-mark::after {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 12px;
  height: 10px;
  background-image: url('../images/checked.svg');
  content: '';
}

/*Mark radio  */

.control-mark-radio {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control:hover .control-mark-radio {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark-radio {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}


.control:active .control-mark-radio {
  background-color: #ffffff;
}

.control-input[type='radio']:checked+.control-mark-radio::before,
.control-input[type='radio']:checked+.control-mark-radio::after {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: '';
}

/* Range inputs */

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 20px;
}

.catalog-filter-price {
  border: none;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-filter-title-price {
  margin: 0 0 34px 0;
}

.control-input-price {
  font-family: inherit;
  padding: 11px 80px 11px 16px;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.control-input-price:hover {
  border: 2px solid #e5e5e5;
}

.control-input-price:focus {
  border: 2px solid #ffffff;
  ;
  outline: none;
  box-shadow: 0 0 0 4px #82b3d3, inset 0 0 0 2px #82b3d3;
}

.control-input-price:active {
  border: 2px solid #ffffff;
  background-color: #756157;
  outline: none;
}

.control-input-price::placeholder {
  color: #ffffff;
}

.control-price span {
  position: absolute;
  top: 48%;
  right: 17px;
  transform: translateY(-50%);
}

.control-price {
  width: 50%;
  position: relative;
}

.control-input-price-min {
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
}

.control-input-price-max {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.control-min,
.control-max {
  opacity: 0.3;
}


/* Range */

.range {
  display: flex;
  position: relative;
  width: 100%;
}

.range::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.3) 100%)
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:first-child {
  margin-right: 197px;
}


.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* Buttons */

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Accept button */

.accept-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 14px 15px;
  border-radius: 4px;
  border: none;
  width: 160px;
  cursor: pointer;
}

.accept-button:hover {
  background-color: #68a2ca;
}

.accept-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.accept-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.accept-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Reset button */

.reset-button {
  width: 96px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  margin: 20px 0 0 0;
  border-radius: 4px;
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  align-self: center;
}

.reset-button:hover {
  color: #e5e5e5;
}

.reset-button:focus {
  color: #ffffff;
  box-shadow: 0 0 0 2px #82b3d3;
  outline: none;
}

.reset-button:active {
  color: #e5e5e5;
}

/* Search results */

.search-result {
  padding: 56px 72px 25px 72px;
  min-width: 350px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-right: 190px;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  align-items: center;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  min-width: 290px;
  height: 49px;
  margin-right: 68px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  background-image: url('../images/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 20px top 19px;
  appearance: none;
  padding: 10px 95px 15px 20px;
  outline: none;
}

.select-control:hover {
  border: 2px solid #82b3d3;
}

.select-control:focus {
  border: 2px solid #68a2ca;

}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.sorting-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-item:nth-child(3n) {
  margin-right: 0;
}

.sorting-button:hover {
  box-shadow: 0 0 0 2px #000000;
  border-radius: 4px;
}

.sorting-button:focus {
  box-shadow: 0 0 0 2px #68a2ca;
  border-radius: 4px;
  outline: none;
  border: none;
}

.sorting-button:active {
  box-shadow: 0 0 0 2px #000000;
  border-radius: 4px;
}

.sorting-button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hotels list */

.hotel-card-list {
  display: grid;
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0 0 64px 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 18px;
  border-bottom: 1px solid #e6e6e6;
}

/* Hotel card */

.hotel-card-item {
  padding: 20px;
}

.hotel-card-image {
  margin: 0 0 13px 0;
}

.hotel-card-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 16px 0;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 16px 20px;
}

/* Info button */

.hotel-card-price+.hotel-card-info-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  text-align: center;
}

.hotel-card-info-button:hover {
  background-color: #615048;
}

.hotel-card-info-button:focus {
  background-color: #615048;
  outline: none;
}

.hotel-card-info-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-info-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Like button */

.hotel-card-info-button+.hotel-card-like-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-card-like-button:hover {
  background-color: #68a2ca;
}

.hotel-card-like-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.hotel-card-like-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-like-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Favorite button */

.hotel-card-info-button+.hotel-card-fave-button {
  background-color: #7db54f;
}

.hotel-card-fave-button:hover {
  background-color: #6c9e42;
}

.hotel-card-fave-button:focus {
  background-color: #6c9e42;
  outline: none;
}

.hotel-card-fave-button:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-fave-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  text-transform: uppercase;
}

.stars {
  background-image: url('../images/star.svg');
  background-repeat: space;
  height: 17px;
  align-self: center;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 43px;
}

/* Pagination */

.pagination-container {
  display: flex;
  align-items: baseline;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 660px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-link-divider {
  pointer-events: none;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border-radius: 4px;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* Display select */

.display-total-container {
  margin-left: auto;
}

.display-total {
  margin: 0 47px 0 0;
}

.display-select-control {
  width: 160px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  background-image: url('../images/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  outline: none;
}

.display-select-control:hover {
  border: 2px solid #82b3d3;
}

.display-select-control:focus {
  border: 2px solid #68a2ca;
}

.display-select-control:active {
  border: 2px solid #3f5e72;
}

.display-select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/* Subscrice inner */

.newsletter-inner {
  text-align: center;
  background-color: #ffffff;
  padding: 84px 200px 94px 200px;
}

.newsletter-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.newsletter-title-inner {
  margin: 0 0 29px 0;
}

.newsletter-info-inner {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}

.newsletter-form-inner {
  display: grid;
  grid-template-columns: 600px 200px;
}

.newsletter-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.newsletter-form-inner .button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.newsletter-form-inner .button:hover {
  background-color: #68a2ca;
}

.newsletter-form-inner .button:focus {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-form-inner .button:active {
  background-color: #82b3d3;
  color: #ffffff;
}

.newsletter-form-inner .button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}